---
import { Image } from "@astrojs/image/components";
import img from "../../img/400x400.png";
---

<section>
  <div class="container">
    <div class="grid">
      <Image
        format="webp"
        src={img}
        alt="Sestricna Bracit placehodler"
        width={400}
        height={400}
        quality={52}
      />
      <div class="span2">
        <hgroup>
          <h3>About Me</h3>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur
          </p>
          <p>
            magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
            quisquam est, qui dolorem ipsum quia dolor si voluptatem quia
            voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          </p>
        </hgroup>
        <div class="grid">
          <button class="primary">Contact me?</button>
          <button class="primary outline">Neki letak ili cjenik?</button>
        </div>
      </div>
    </div>
  </div>
</section>
