<section id="form">
	<div class="container">
    <h2>Contact</h2>
		
		<div class="grid">

			<div class="span2">
				
			<form action="
	
			">
			<div class="grid">
				<input type="text" name="" id="">
				<input type="text" name="" id="">
			</div>
			<input type="text" name="" id="">
			<input type="submit" value="">
		</form>
</div>
<div>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet omnis debitis consectetur rerum deserunt?
</div>
</div>
	</div>
</section>