---
---

<div class="hero">
  <div class="inside container">
    <sub>HELLO I'M</sub>
    <hgroup>
      <h1 class="primary">Sestricna Bratic</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br /> Quos explicabo
        assumenda magni nesciunt.
      </p>
      <a href="#" target="_blank" rel="noopener noreferrer" class="outline"></a>
    </hgroup>
    <a href="/" class="outline btn-round" role="button">Download CV</a>
  </div>
</div>

<style>
  .hero {
    background: url(../img/bg/slider-bg.png) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-block: 0;
    text-align: center;
    padding-block: 20vh;
  }
  h1 {
    color: var(--primary) !important;
    font-weight: 700;
    font-family: "Trebuchet MS", sans-serif;
    text-transform: uppercase;
  }
</style>
