---
import { Image } from "@astrojs/image/components";
import slika from "../../img/circle/hollowCircle.svg";
---

<div class="hero">
  <Image
    src={slika}
    alt=""
    height={400}
    width={400}
    format="svg"
    class="blob"
  />
  <div class="container">
    <sub>HELLO I'M</sub>
    <hgroup>
      <h1 class="ff-TNR"><b>Sestricna Bratic</b></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br /> Quos explicabo
        assumenda magni nesciunt.
      </p>
      <a href="#" target="_blank" rel="noopener noreferrer" class="outline"></a>
    </hgroup>
    <a href="#" class="outline" role="button">Download CV</a>
  </div>
</div>

<style>
  .blob {
    position: absolute;
    top: -5rem;
    right: -10rem;
    width: 22rem;
    height: 22rem;
    animation: blob 6s ease-in-out alternate-reverse infinite;
    z-index: -1;
    opacity: 0.75;
  }

  .hero {
    position: relative;
    background: url(../img/bg/slider-bg.png) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-block: 0;
    text-align: center;
    padding-block: 20vh;
    z-index: -10;
    overflow-x: hidden;
  }

  @keyframes blob {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(2rem);
    }
  }
</style>
