---
import img from "../../img/400x400.png";

const data = [
	{img: img, text: "NASLOV", sub: "PODNASLOV", link: "/"},
	{img: img, text: "NASLOV", sub: "PODNASLOV", link: "/"},
	{img: img, text: "NASLOV", sub: "PODNASLOV", link: "/"},
	{img: img, text: "NASLOV", sub: "PODNASLOV", link: "/"},
	{img: img, text: "NASLOV", sub: "PODNASLOV", link: "/"},
];
---

<section>
	<div class="container">
		<h2>Projects</h2>
		<div class="grid col3">
			{
				data.map(({img, text, sub, link}) => (
					<div class="img-projects">
						<img src={img} alt="" />
						<hgroup>
							<b>{text}</b>
							<p>{sub}</p>
							<a href={link}>link...</a>
						</hgroup>
					</div>
				))
			}
		</div>
	</div>
</section>

<style>
	.img-projects{
		position: relative;
		overflow: hidden;
		border-radius: 1rem;
		
	}


	.img-projects > hgroup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		position: absolute;
		inset: 0;
		color: white;
		z-index: 5;
		opacity: 0;
	}

	.img-projects > hgroup:hover {
	opacity: 1;
	}

	.img-projects > hgroup  > b {
		font-size: 1.5rem;
		font-weight: 800;
	}

	.img-projects:hover:after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--primary-hover);
	}
</style>
