---
import { getCollection } from "astro:content";
import Card from "../util/Card.astro";
const data = await getCollection("services");
---

<section>
  <div class="container">
    <h2>Services</h2>
    <div class="grid">
      {
        data.map(({ data, slug }) => (
          <Card
            title={data.title}
            sub={data.description}
            link={`/services/${slug}/`}
            ico={data.image}
          />
        ))
      }
    </div>
  </div>
</section>
