---
import { getCollection } from "astro:content";

import ArticleBlock from "../util/ArticleBlock.astro";

const data = await getCollection("services");

import test from "../../img/icons/icon-brackets.png"
---

<section id="services">
  <div class="container">
    <h2>Services</h2>
    <div class="grid">

      {
        data.map((item)=>(
          <ArticleBlock
          title={item.data.title}
          sub={item.data.description}
          link={`/services/${item.slug}`}
          ico={item.data.image}
          >
          </ArticleBlock>
        ))
      }

    </div>
  </div>
</section>