---
import Main from "../../layouts/Main.astro";

import AboutMe from "../../components/homepage/AboutMe.astro";
import Services from "../../components/homepage/Services.astro";
import Stats from "../../components/homepage/Stats.astro";
---

<Main>
  <AboutMe />
  <Services />
  <Stats />
  <section class="container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt facilis,
      quaerat optio, consequatur facere doloribus rerum, molestiae impedit ipsam
      dolor adipisci earum labore! Illum tempore eaque molestiae illo reiciendis
      accusantium.
    </p>
    <p>
      Est nostrum officiis cupiditate, vel porro ratione illum alias molestiae
      facere sit! Labore, saepe harum! Quasi provident architecto ullam autem
      fugiat reprehenderit eligendi recusandae, modi tempore, hic iusto
      distinctio quam!
    </p>
    <p>
      Ducimus praesentium fuga architecto eos, sunt dolore. Numquam cupiditate
      provident maxime, tempore error, corporis accusamus totam voluptatibus,
      veritatis blanditiis minima sit itaque non accusantium molestias
      necessitatibus facilis nam assumenda voluptates.
    </p>
    <p>
      Laboriosam, neque? Perferendis nostrum eos nobis earum blanditiis autem
      natus amet nesciunt beatae praesentium, modi soluta iste magnam ad saepe
      ducimus aliquam! Quas dolores modi similique hic numquam consequatur
      tempora.
    </p>
  </section>
</Main>
