/* Yellow Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #fdd835;
	--primary-hover: #fbc02d;
	--primary-focus: rgba(253, 216, 53, 0.125);
	--primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #fdd835;
		--primary-hover: #ffeb3b;
		--primary-focus: rgba(253, 216, 53, 0.25);
		--primary-inverse: rgba(0, 0, 0, 0.75);

		/* color palete */
		--background-color: #2d2e2e;
	}
}

/* Yellow Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #fdd835;
	--primary-hover: #ffeb3b;
	--primary-focus: rgba(253, 216, 53, 0.25);
	--primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Yellow (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}

/* Scrollbar	 */
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-thumb {
	background: var(--secondary-focus);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-focus);
}

/* Globalne varijable */
:root {
	--gap: 1rem;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}

img {
	width: 100%;
	object-fit: cover;
}

main {
	min-height: 60vh;
}

article {
	margin: 0;
	padding: 1rem;
	transition: 500ms;
	opacity: 90%;
}

article:hover,
article:focus-within {
	box-shadow: 1px 1px 3px var(--primary-focus);
	opacity: 100%;
}

.reel {
	--w: 32%;
	display: grid;
	gap: var(--gap);
	grid-auto-flow: column;
	grid-auto-columns: calc(var(--w) - var(--gap));
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-padding: var(--gap);
}

.reel>* {
	scroll-snap-align: start;
}

.grid-reel {
	--w: 11rem;
	display: grid;
	gap: var(--gap);
	grid-auto-flow: column;
	grid-auto-columns: calc(var(--w) - var(--gap));
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-padding: var(--gap);
}

.grid-reel>* {
	display: flex;
	scroll-snap-align: start;
	justify-content: center;
}

@media(min-width: 768.98px) {
	.grid-reel {
		--w: 11rem;
		display: grid;
		gap: var(--gap);
		grid-template-columns:
			repeat(auto-fit, minmax(min(var(--w), 100%), 1fr));

		grid-auto-flow: inherit;
		grid-auto-columns: calc(var(--w) - var(--gap));
		overflow-x: inherit;
		scroll-snap-type: inherit;
	}

}

.bg {
	background-color: #2b2c2c;
}


.gb {
	background-color: #242527;
}

.bg-trans {
	background-color: hsla(180, 1%, 18%, 50%);
}

.span2 {
	grid-column: span 2;
}


h1,
h2,
h3 {
	color: var(--primary) !important;
	text-transform: uppercase;
}

.v-center {
	align-items: center;
}