---
import "../styles/picos.css";
import "../styles/css.css";
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body>
    <dialog open>
      <article>
        <hgroup>
          <h1>404</h1>
          <p>E jebiga..</p>
          <hr />
          Nunc nec ligula a tortor sollicitudin dictum in vel enim. Quisque facilisis
          turpis vel eros dictum aliquam et nec turpis. Sed eleifend a dui nec ullamcorper.
          Praesent vehicula lacus ac justo accumsan ullamcorper.
        </hgroup>

        <a href="/">Go back home..</a>
      </article>
    </dialog>
  </body>
</html>
