---
import "../styles/css.css";
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body>
    <dialog open>
      <article>
        <hgroup>
          <h1>404</h1>
          <b>NOT FOUND</b>
          <p>The server cannot find the requested resource.</p>
        </hgroup>
        <hr />
        <p aria-busy="true">Loading...</p>
        <hr />
      </article>
    </dialog>
  </body>
</html>

<style>
  h1 {
    font-size: 3.4rem;
  }
</style>
