---
import Main from "../layouts/Main.astro";

import AboutMe from "../components/homepage/AboutMe.astro";
import Services from "../components/homepage/Services.astro";
import Stats from "../components/homepage/Stats.astro";
import Projects from "../components/homepage/Projects.astro";
import Blog from "../components/homepage/Blog.astro";
---

<Main>
  <AboutMe />
  <Services />
  <hr />
  <Stats />
  <hr />
  <Projects />
  <hr />
  <Blog />
</Main>
