---
import logo from "../img/Color logo - no background.svg"

import Main from "../layouts/Main.astro"
import Navigation from "../components/Navigation.astro"

---

<Main>
	<Navigation></Navigation>
<div class="container">
	<img src={logo} alt="">
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perspiciatis ex laboriosam! Consequatur rerum ullam laboriosam harum, soluta voluptatum quis dolorem quasi ut molestias quisquam tempora ipsum accusamus velit dolores.
	<a href="" role="button">abc</a>
</div>
</Main>