---
import Main from "../layouts/Main.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("services");
---

<Main hero={false}>
  <main>
    <div class="container">
      <section>
        <div class="grid">
          {
            posts.map((post) => (
              <article class="blog">
                <div class="blog-desc">
                  <hgroup>
                    <a href={`/services/${post.slug}/`}>
                      <h4>
                        <b>{post.data.title}</b>
                      </h4>
                    </a>
                  </hgroup>
                  <p>{post.data.description}</p>
                </div>
              </article>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Main>

<style>
  .blog {
    padding: 0;
  }

  .blog-desc {
    padding: 1rem 2rem;
  }
</style>
