---
import "../styles/picos.css"
import CountUp from "../components/homepage/CountUp";
---

<main>
	<section class="container">

			<CountUp client:visible end=100></CountUp>
			<CountUp client:visible end=200></CountUp>
		<CountUp client:visible end=300 steps=40></CountUp>
		<CountUp client:visible end=400 steps=40></CountUp>
		<CountUp client:visible end=500 steps=40></CountUp>
		<CountUp client:visible end=600 steps=50></CountUp>
		<CountUp client:visible end=700 steps=50></CountUp>
		<CountUp client:visible end=800 steps=50></CountUp>
		<CountUp client:visible end=900 steps=50></CountUp>
		<CountUp client:visible end=1000 ></CountUp>
	</section>
</main>