---
import {getCollection} from "astro:content";

const pages = await getCollection("footer");

const today = new Date();
---

<footer class="gb">
	<div class="container">
		<nav>
				<ul>
					{
						pages.map((page) =>(
							<li><a href={`/footer/${page.slug}`} class="secondary">{page.data.title}</a></li>
							))
						}
			</ul>
			<ul>
				<li>

					&copy; {today.getFullYear()} Inspira Content.d.o.o.
				</li>
			</ul>
		</nav>
	</div>
</footer>
