---
const today = new Date();
---

<footer class="gb">
	<div class="container">

		&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
	</div>
	<a href="/admin/index.html">LOGIN</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
