---
const { prevUrl, nextUrl } = Astro.props;
---

<div class="container">
  <section class="grid">
    {
      prevUrl ? (
        <a href={prevUrl} role="button" class="outline">
          PREV
        </a>
      ) : (
        <hr />
      )
    }
    {
      nextUrl ? (
        <a href={nextUrl} role="button" class="outline">
          NEXT
        </a>
      ) : (
        <hr />
      )
    }
  </section>
</div>
