---
const { prevUrl, nextUrl } = Astro.props;
---

<div class="container">
  {
    prevUrl && (
      <a href={prevUrl} role="button" class="outline">
        PREV
      </a>
    )
  }
  {
    nextUrl && (
      <a href={nextUrl} role="button" class="outline">
        NEXT
      </a>
    )
  }
</div>
