---
import { CollectionEntry, getCollection } from "astro:content";

import Main from "../../layouts/Main.astro";

export async function getStaticPaths() {
  const posts = await getCollection("footer");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"footer">;

const post = Astro.props;
const { Content } = await post.render();
---

<Main hero={false} title={post.data.title}>
  <div class="container">
    <hgroup>
      <h1>{post.data.title}</h1>
      <hr />
    </hgroup>
    <Content />
  </div>
  <!-- </BlogPost> -->
</Main>
